@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .triangle-top-right {
    clip-path: polygon(0 0, 100% 100%, 100% 0);
  }
  .ribbon {
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 50% 80%, 0 100%);
  }

  .clip-circle {
    --zoom-x: 50%;
    --zoom-y: 50%;
    clip-path: circle(80px at var(--zoom-x) var(--zoom-y));
  }

  .dots {
    width: 50px;
    height: 24px;
    background: radial-gradient(circle closest-side, #ee4d2d 90%, #0000) 0% 50%,
      radial-gradient(circle closest-side, #ee4d2d 90%, #0000) 50% 50%,
      radial-gradient(circle closest-side, #ee4d2d 90%, #0000) 100% 50%;
    background-size: calc(100% / 3) 12px;
    background-repeat: no-repeat;
  }
}

* {
  -webkit-tap-highlight-color: transparent;
}

::selection {
  background-color: #ee4d2d;
  color: white;
}

body {
  width: 100vw;
  min-height: 100vh;
  line-height: 1.2;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  overflow: hidden auto;
}

input,
button {
  outline: none;
}

input {
  width: 100%;
}

.paging-item.active > button {
  fill: #ee4d2d !important;
}

.paging-dot {
  width: inherit;
  height: inherit;
}

.wave {
  --mask: radial-gradient(2.04px at 2.4px 50%, #000 99%, #0000 101%) 0 calc(50% - 4px) / 51% 8px
      repeat-y,
    radial-gradient(2.04px at -0.4px 50%, #0000 99%, #000 101%) 2px 50% / calc(51% - 2px) 8px
      repeat-y,
    radial-gradient(2.04px at calc(100% - 2.4px) 50%, #000 99%, #0000 101%) 100% calc(50% - 4px) /
      51% 8px repeat-y,
    radial-gradient(2.04px at calc(100% + 0.4px) 50%, #0000 99%, #000 101%) calc(100% - 2px) 50% /
      calc(51% - 2px) 8px repeat-y;
  -webkit-mask: var(--mask);
  mask: var(--mask);
}

.box {
  --mask: radial-gradient(1px at 1px 50%, #000 99%, #0000 101%) 0 calc(50% - 2px) / 51% 4px repeat-y,
    radial-gradient(1px at 0px 50%, #0000 99%, #000 101%) 1px 50% / calc(51% - 1px) 4px repeat-y,
    radial-gradient(1px at calc(100% - 1px) 50%, #000 99%, #0000 101%) 100% calc(50% - 2px) / 51%
      4px repeat-y,
    radial-gradient(1px at calc(100% + 0px) 50%, #0000 99%, #000 101%) calc(100% - 1px) 50% /
      calc(51% - 1px) 4px repeat-y;
  -webkit-mask: var(--mask);
  mask: var(--mask);
}

@media not all and (min-width: 640px) {
  .slider-container > .slider-frame > .slider-list {
    height: 100%;
  }
}
